<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	<add name="CyberSec_Challenge_ConnectionString_Prod" connectionString="Server=DESKTOP-RBAIAUQ\SQLEXPRESS;Database=cybersec-challeng-db;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
	<!-- DESENV / HOMOLOG / PROD / DEMO -->
	<add key="CyberSec_Challenges_Ambiente" value="PROD" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>